* text=auto

# For?ar LF nos textos/c?digo
*.py   text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.md   text eol=lf
*.txt  text eol=lf
*.sh   text eol=lf

# Bin?rios (sem convers?es)
*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.pdf  binary
*.docx binary
*.xlsx binary
*.zip  binary
